<!DOCTYPE html>
<div class="header">
	<div class="container">
		<h1> Dawg Coffee<br>Shopping Cart
		</h1>
		<div id="motto">
			<p>Supplying Beans to Sleepy Huskie since 2015</p>
		</div>
	</div>
</div>

<section class="shopping-cart">
	    <table class="table">
      <tr>
        <th><a href="" >Name</a></th>
        <th><a href="" >Grind Type</a></th>
        <th><a href="" >Price Per Pound</a></th>
        <th><a href="" >Quanity (lbs)</a></th>
        <th><a href="" >Extended Price</a></th>
      </tr>
      
      <!-- Data from products json file that will be displayed -->
 <!--        <tr > -->
<!--           <td>{{bean.name}}</td>
          <td>{{bean.grind}}</td> 
          <td>{{product.price | currency:"$"}}</td>
          <td>{{bean.quantity}}</td> -->

<!--           <td>Captain Ballard's Blend</td>
          <td>Whole Bean</td> 
          <td>$19.99</td>
          <td>10</td>
          <td>$199.99</td>
        </tr>
        </table> -->
</section>