<!-- The order page goes here -->
<!DOCTYPE html>
<div class="header">
	<div class="container">
		<h1> Dawg Coffee<br>Orders
		</h1>
		<div id="motto">
			<p>Supplying Beans to Sleepy Huskie since 2015</p>
		</div>
	</div>
</div>

<div class="Order-Headline">
	<div class="container">
    <form name="beanForm">
      <div class="form">

        <!-- bind the search term to the controller -->
        <div class="form-inline pull-right">
          <label for="search"><i class="fa fa-search"></i></label>
          <input name="query" placeholder="Search" id="search" ng-model="searchQuery"></input>
        </div>
      </div>
    </form> 
	</div>
</div>

    <table class="table">

    <!-- Categories that can be sorted when clicked -->
      <tr>
        <th><a href="" >Name</a></th>
        <th><a href="" >Description</a></th>
        <th><a href="" >Price</a></th>
        <th><a href="" >Details</a></th>

      </tr>
      
      <!-- Data from products json file that will be displayed -->
        <tr ng-repeat="product in products | orderBy: 'name' | filter: searchQuery">
          <td>{{product.name}}</td>
          <td>{{product.description}}</td> 
          <td>{{product.price | currency:"$"}}</td>
          <td><a ui-sref="bean({id: product.id})">Click Here!</a></td>
        </tr></table>