@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	background-image: url("../img/rbbc1.jpg");
	color: white;
	font-weight: bold;
}

iframe {
	width: 160px;
	height: 95px;
}

.star {
	color: yellow;
	font-size: 20px;
}

.container {
	width: 50%;
}

#title {
	width: 100%;
	color: black;
}

#review {
	width: 100%;
	color: black;
}

#submit {
	color: yellow;
	background-color: gray;
	border-color: #d3d3d3;
}

.container {
	background-color: rgba(0,0,0,0.5);
}

@media screen and (min-width: 627px) {
	iframe {
		width: 280px;
		height: 155px;
	}
}

@media screen and (min-width: 800px) {
	iframe {
		width: 360px;
		height: 235px;
	}

	body {
		font-size: 15px;
	}

	.star {
		font-size: 30px;
	}
}

@media screen and (min-width: 1160px) {
	iframe {
		width: 540px;
		height: 295px;
	}

	body {
		font-size: 20px;
	}

	.star {
		font-size: 40px;
	}
}