<!-- Vichit Mike Sitthideth -->
<!-- INFO 343B -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Welcome to the MUSIC-FINDER</title>
  
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/main.css"/>

  <!-- include libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="js/app.js"></script>

</head>
<body>

  <div class="container text-left" ng-app="myApp" ng-controller="MyCtrl"> <!-- specify app -->
    <div class="header text-center"> 
      <h1>MUSIC-FINDER:
      </h1> 
        <p>Your One Stop To Finding The Song You Love!
        </p> 
    </div>

    <!-- This section is the search bar for looking through SoundCloud for a song/artist -->
    <form name="trackForm">
      <div class="form-group">
        <label>Search SoundCloud:</label>

        <!-- bind the search term to the controller -->
        <!-- Places a minimum of 4 character requirement to show search results -->
        <input name="search" id="searchBar" placeholder="Search for a track..." ng-model="query" ng-keyup="getTracks()" class="form-control" ng-minlength="4" required></input><div id="minError" ng-show="trackForm.search.$error.minlength">Please Input a Minimum of 4 characters...</div>
      </div>
    </form>     

    <!-- Search table shows only if the form is filled correctly -->
    <table class="table" ng-if="trackForm.$valid">

    <!-- Categories that can be sorted when clicked -->
      <tr>
        <th><a href="" ng-click="sortBy = 'artwork_url'">Artwork</a></th>
        <th><a href="" ng-click="sortBy = 'title'">Track Name</a></th>
        <th><a href="" ng-click="sortBy = 'user.username'">Uploaded By</a></th>
        <th><a href="" ng-click="sortBy = 'genre'">Genre</a></th>
        <th><a href="">Purchase Track</a></th>
      </tr>
      
      <!-- Data from SoundCloud that will be displayed -->
        <tr ng-repeat="track in tracks | orderBy: sortBy">
          <td>
            <p ng-if="track.artwork_url == null">NO ARTWORK</p>
            <img src="{{track.artwork_url}}">
          </td>
          <td><i><a href="{{track.permalink_url}}">{{track.title}}</i></td>
          <td><a href="{{track.user.permalink_url}}">{{track.user.username}}</a></td> 
          <td><button class="btn btn-primary genre" type="text">{{track.genre}}</button></td>
          <td>
            <a ng-show="track.purchase_url != null" href="{{track.purchase_url}}">BUY TRACK</a>
            <a id="notAvailable" ng-show="track.purchase_url == null">Unavailable</a>
          </td>
        </tr>
</body>
</html>