/* add your CSS rules here */
#map-container {
	height: 600px;
}

#header {
	border-top: 3px solid #d87e28;
	background-color: #0F4B82;
	font-family: "Comic Sans MS";
	font-size: 18px;
	color: #61AFAF;
}