/*Vichit Mike Sitthideth
INFO 343*/

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

/*Sets the size of the map*/
#map-container {
	height: 400px;
	width: 700px;
}

/*Sets attributes for the heading information*/
#information {
	background-color: black;
	height: 160px;
	width: 700px;
	color: white;
}

/*Sets attributes for bottom stats*/
#stats {
	background-color: black;
	color: white;
	width: 700px;
}

.red {
	color: red;
}

.blue {
	color: blue;
}