/*Vichit Mike Sitthideth*/
/*INFO 343B*/

body {
  padding: 10px;
  background: url("../img/vinyl.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

ul {
	list-style-type: none;
}

#searchBar {
	width: 50%;
}

#minError {
	color: red;
}

.container {
	background-color: rgba(0,0,0,0.5);
}

.header h1 {
	font-family: "Times New Roman", Calibri;
}

/* removes underline on href*/
#notAvailable:hover {
	text-decoration: none;
}

/* Shrinks sizing to fit below 700px size screens*/
	@media screen and (max-width: 700px) {
		body {
			font-size: 10px;
		}
		h1 {
			font-size: 12px;
		}
		.btn {
			font-size: 10px;
		}
	}