@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,400,300);

/* Properties for navigation bar */
nav {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #181c22;
	font-size: 16px;
	padding-left: 15px;
	font-variant: small-caps;
	width: 100%;
}


nav ul a{
	color: white;
	fill: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

nav a:hover {
	text-decoration: none;
	color: #d87e28;
	fill: #d87e28;
}

/* Properties for Dawg Coffee header and headline*/
.header {
	padding-top: 3em;
}

#motto {
	display: none;
}

 /* Headline font to italics*/
.headline {
	font-style: italic;
}

.headline svg {
	height: 1.5em;
	margin-bottom: 1em;
	fill: #d87e28;
}

/* Default properties for body, svg, and headings */
body {
	font-family: 'Lato', "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;
}

svg {
	height: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif;
}

/* Specific class and id changes */
.information {
	background-color:  #dbdce3;
	padding-bottom: 2em;
}

.information svg {
	fill: #d87e28;
}

#location {
	border-radius: 5px;
}

#items h2 {
	color: #d87e28;
}

#items dd{
	font-style: italic;
	padding-left: 1em;
}

#story {
	background-color: #dbdce3;
}

#story img {
	float: right;
	max-height: 300px;
	margin-left: 1em;
	border-radius: 5px;
}

#story h2 {
	color: #d87e28;
}

#foot {
	border-top: 3px solid #d87e28;
	background-color: #afb3c2;
	font-size: 12px;
	margin-top: 1em;
}

/* Screens bigger than small (768px)*/
@media screen and (min-width: 768px) {
	nav {
		background-color: rgba(24, 28, 34, 0.8);
	}

	ul a {
		padding-left: 1.0em;
		padding-right: 1.0em;
	}

	.header {
		background-image: url("../img/background-sm.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		text-align: right;
		min-height: 550px;
	}

	#motto {
		display: block;
	}

	.headline {
		font-size: 1.25em;
		text-align: center;
		margin-top: 3em;
		margin-bottom: 3em;
	}


	#story img {
		max-height: 400px;
	}

	body {
		font-size: 20px;
	}

	h2 {
		text-align: center;
		padding-bottom: 20px;
	}

	#foot .col-sm-9 {
		text-align: right;
	}
}

/* Medium size screens*/
	@media screen and (min-width: 992px) {
		.header {
			background-image: url("../img/background-md.jpg");
		}
		h1 {
			font-size: 4em;
		}
	}

/* Large size screens*/
	@media screen and (min-width: 1200px) {
		.header {
			background-image: url("../img/background-lg.jpg");
		}

	}
}